*{margin: 0;
    padding: 0;
    }

.corpo-do-site{
    background-image: linear-gradient(#05253a,#136aa8);
    border: solid 3px #FBCA03;
}
    

.cabeçalho{
    background-color: #05253a;
   display: flex;
   border: solid 4px #FBCA03;
   justify-content: space-between;
   align-items: center;
   
}
.lista{
    color: white;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px 66px;
    font-size: 140%;
}

.cabeçalho-imagem{
    width: 20%; 
    }

.icone-redes-sociais{

    width: 5%;
}

.estudante-div{
    text-align: center;
}

.estudantes-titulo{
    padding: 54px 0;
    text-align: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.todos-estudantes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 54px;
}

.estudante-foto{
    width: 70%;
    border: solid 4px #FBCA03;
}

.rodape{
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: solid 4px #FBCA03;
    
    }
    
    .mapa{
        display: flex;
        align-items: center;
    }
    .Telefone{
        display: flex;
        align-items: center;
    }
    
    .foto-rodape{
    
        width: 20%;
    }
    
    
    .imagem-rodape{
       display: list-item;
       width: 5%;
    }
    
    .escrita-roda-pe{
        padding: 0px 24px;
       font-size: 130%;
       font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
       color: white; 
       
    }
    .link{
        text-decoration: none;
    }
    