.icone-redes-sociais{

    width: 5%;
}

.estudante-div{
    text-align: center;

}

.estudantes-titulo{
    padding: 54px 0;
    text-align: center;
    color: white;
}

.todos-estudantes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    color: white;
}

.estudante-foto{
    width: 70%;
}